:root {
  --main-color: rgb(234, 0, 255); /* Example variable */
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
 /* or any other font you prefer */
}

.cover-container {
  color: var(--main-color); /* Use of CSS variable */
}

.alert-info {
  position: absolute; /* Making the alert absolute position to place it under the nav bar */
  left: 4px; /* Align to the left side */
  top: 2px; /* Adjust this value depending on your navbar height */
  width: 250px;
}

/* Centering content */
.text-center {

  /* Add other styles as needed */
}

h1, .lead {
  color: var(--main-color);
}

/* Continue to adjust other styles as needed to match your design */
