.mb-md-5.mt-md-4.pb-5 {

} 
.btn.btn-outline-light{
    border: groove 2px whitesmoke;

}
.btn-lg.px-5 {
    color: #00f2fadf;
    font-family: 'MedievalSharp', cursive;
    font-size: x-large;
}
/*LOGIN / REGISTER buttons*/
.btn.btn-outline-light.btn-lg.px-5:hover{
    background-color: #00f2fadf;
    border: groove 2px whitesmoke;
    font-family: 'MedievalSharp', cursive;
}
 /*Login header*/
.fw-bold.mb-2.text-uppercase {
    color: var(--main-color);
    font-size: 68px;
    text-decoration: underline 2px #00f2fadf;
    font-family: 'MedievalSharp', cursive;

}
/*Text below login/register*/
.text-white-50.mb-5 {
    font-family: 'MedievalSharp', cursive;
    font-size: larger;
    word-break:keep-all;
}
/*Register header*/
.fw-bold.mb-3.text-uppercase {
    color: var(--main-color);
    font-size: 54px;
    text-decoration: underline 2px #00f2fadf;
    font-family: 'MedievalSharp', cursive;
    word-break:keep-all;
}

.card-body.p-5.text-center {
    word-break:break-all;
    overflow: hidden;
}
.mb-0 {
    color:rgb(118, 250, 255);
}
.text-white-50.fw-bold:hover {
    text-decoration: underline 1px #00f2fadf;


}