.table.table-dark.table-striped {
    width: 80%;
    margin-left: auto; /* Centers the table */
    margin-right: auto; /* Centers the table */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: transparent;
}

.table.table-dark.table-striped th, .table.table-dark.table-striped td {
    border: 1px solid black;
    padding: 8px;
    text-align:center;
    color: var(--main-color);
}

.btn-danger.delete-button {
    color: rgb(255, 255, 255);
    background-color: rgb(45, 2, 86);
    border: none;
    border-radius: 7px;
    margin-right: 0px;
    margin-top: 3px;
}
.btn-danger.delete-button:hover {
    color: rgb(182, 6, 6);
    background-color: rgb(45, 2, 86);
}


.btn.btn-warning {
color: rgb(255, 255, 255);
background-color: rgb(247, 144, 0);
margin-left: 0px;
border: none;
border-radius: 7px;
margin-top: 3px;
}
.btn.btn-warning:hover{
    color: rgb(1, 137, 46);
    background-color: rgb(223, 133, 8);
}
.btn.btn-warning1 {
    background-color:rgb(247, 144, 0);
    color:rgb(107, 1, 255);
    margin-left: 8px;
}
.btn.btn-warning1:hover {
    color: rgb(144, 22, 22);
}
.btn.btn-primary {
    color: var(--main-color);
    background-color: rgb(60, 3, 107);
    border: 1px solid var(--main-color);
    border-radius: 12px;
}
.btn.btn-primary:hover {
    background-color: var(--main-color);
    color: rgb(60, 3, 107);
    border: 1px solid rgb(60, 3, 107);
}
/* "press here to add movies form */
#searchBox {
    width: 150px; /* Adjust width to your preference */
    margin-left: 5%; /* Align to the left side */
    margin-right: auto;
}

/* Add more space below the "Click here to add movies" button */
.movie-management {
    position: relative;
    justify-content: center;
}
#movieFormContainer {
    position: absolute;
    top: 100%; /* Position it directly below the button */
    left: 50%; /* Start at half the width of the parent */
    transform: translateX(-50%); /* Center it horizontally */
    display: none; /* Keep it hidden by default */
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    padding: 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: for a drop shadow */
    z-index: 10; /* Make sure it's above other elements */
}
#logoutForm {
    color: rgb(224, 219, 228);
}