.table.table-dark.table-striped {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: transparent;

}

.table.table-dark.table-striped th, .table.table-dark.table-striped td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: var(--main-color);
}



.table.table-dark.table-striped tr:nth-child(even) {

}

.table.table-dark.table-striped tr:hover {
    background-color: #9ec2fd;
}

