.topnav {
    background-color: #333;
    margin: 0;
    display: flex;          /* Use flex display */
    justify-content: center; /* Center flex items on the main axis */
    align-items: center;     /* Center flex items on the cross axis */
    height: 65px;
    width: 100%;
    background-color: rgb(110, 35, 239);
    border: 2px groove rgb(80, 182, 255);

}

.topnav ul {
    list-style-type: none; /* Remove bullet points from list */
    padding: 0;            /* Remove padding */
    display: flex;         /* Use flex display for the list */
    align-items: center;   /* Align list items vertically */
}

.topnav li {
    /* No changes needed here if you want to keep individual items styles */
}

.topnav li a {
    display:inline-block;
    color: var(--main-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'MedievalSharp', cursive;
    font-size:x-large;
    text-decoration: none;
    margin-top: 20px;
    font-size: large;
    overflow:visible;
    height: 50%;
}

.topnav li a:hover {
    background-color: #ddddddef;
    color:blueviolet;

}
