<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/topnav.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/cover.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}" />
    <link rel="stylesheet" href="/css/MovieList.css">

    <!-- Include Bootstrap CSS for styling -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
        <div th:replace="navigation.html :: body"></div>
            <!-- User alert should go right here, below navigation -->
            <div sec:authorize="isAuthenticated()" class="alert alert-info" role="alert">
            Logged in as: <span sec:authentication="name"></span>
            </div>
            
            <div sec:authorize="isAuthenticated()">
                <form id="logoutForm" th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="submit" value="Logout" class="btn btn-warning1"/>
                </form>
            </div>

            <div class="container text-center mt-5">
            <h1>Welcome To The Rhealm of Movie Lovers!!</h1>
            <p class="lead1">This app is called The MovieApp</p>
            <p class="lead"> MovieApp is an application where users can add their favourite movies, review them and view movies and reviews added by other people.</p>
            <p class="lead"> Here you can also suggest/advertise great movies, or warn about bad movies NOT worth to watch for other users. </p>
        <!-- Login button shown only if user is not authenticated -->
        <div class="container">
            <a th:href="@{/main}" class="animated-arrow">
                <span class="the-arrow -left">
                    <span class="shaft"></span>
                </span>
                <span class="main">
                    <span class="text">Click here to try it out!</span>
                    <span class="the-arrow -right">
                        <span class="shaft"></span>
                    </span>
                </span>
            </a>
        </div>
            <div sec:authorize="!isAuthenticated()">
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
    </div>
    <footer class="footer">
        <div class="container text-center">
          <span>Made By Santeri Kuusisto</span>
        </div>
      </footer>
</body>
</html>
