<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <h1>Login Page</h1>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <div><label>User Name : <input type="text" name="username" /> </label></div>
        <div><label>Password: <input type="password" name="password" /></label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <div>
        <p>Eikö sinulla ole vielä tiliä?</p>
        <a href="/register">Rekisteröidy tästä</a>
    </div>
</body>
</html>
