<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/topnav.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/cover.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/LoginAndRegister.css}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="navigation.html :: body"></div>
    
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-11 col-md-9 col-lg-7 col-xl-6">
                <!-- Use only one div with class 'card' and 'login-card' -->
                <div class="card bg-dark text-white login-card">
                    <div class="card-body p-5 text-center">

                        <form th:action="@{/login}" method="post">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please fill in your login credentials</p>
                                
                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Username" required />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password" required />
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </div>
                            
                            <div>
                                <p class="mb-0">Don't have an account? <a href="/register" class="text-white-50 fw-bold">Sign Up now!</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
