<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="topnav">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="isAuthenticated()" ><a th:href="@{/main}">Movies</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a></li>
        </ul>
        
    </nav>
</body>
</html>
